// 引入清除默认样式
@import './reset.scss';

// 滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $base-menu-background;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 表格字体 */
@font-face{
  font-family:'Electronic';
  src:url('./assets/fonts/FX-LED.ttf')
}
/* 背景渐变 */
.text-gradient{
  background-image:linear-gradient(to bottom,#e5e4ea,#5ea8f2);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}